
  main{
    background-color: beige;
  }

.row {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 32px;
}

.col {
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
}
img {
    margin: auto;
    display: block;
}
form{
    padding-left: 50px;
    padding-right: 50px;
}
li{
    display: inline;
}